#pip install
pynput
telebot


keyboard
six


#regedit
Computer\HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run
"C:\Pythons\Python3.11\pythonw.exe" "C:\System\proga.py"
"C:\Pythons\Python3.11\pythonw.exe" "C:\System\progav2.py"

#spotify
iwr -useb https://raw.githubusercontent.com/spicetify/spicetify-cli/master/install.ps1 | iex
iwr -useb https://raw.githubusercontent.com/spicetify/spicetify-marketplace/main/resources/install.ps1 | iex

#winda
slmgr/ipk W269N-WFGWX-YVC9B-4J6C9-T83GX
slmgr /skms kms.digiboy.ir
slmgr /ato

#telegram
https://api.telegram.org/bot6071630449:AAHslhDKXn83m8gsfsB8m4_hQvw9-9N5pWE/getUpdates --- to get user id

